header{
    background-color: blue;
    height: 100px;
    color: white;
    text-transform: uppercase;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}